@import '../../styles/colors';


.navbar{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    background-color: $blue;
    // background-color: rgba($color: $light-background-color, $alpha: 0.8);
    padding: 6px 0;
    transition: 1s ease;
    color: $text-color;

    h1{
        margin-left: 32px;
        font-family: 'Inter', 'Georgia', 'Times New Roman', Times, serif;
        color: $text-color;
        font-weight: 700;
    }

    nav{
        display: flex;
        align-items: center;
        gap: 16px;
        button{
            color: $text-color;
            background-color: transparent;
            border: 0;
            font-weight: 600;
            padding: 8px;
            cursor: pointer;
            transition: 0.3s ease;

            &:hover{
                transform: scale(1.2);
                color: $light-subtitle-color;
            }
        }
    }
    .change-mode-button{
        position: relative;
        width: 48px;
        height: 16px;
        margin-right: 32px;
        background-color: $background-color;
        border-radius: 999px;
        border: none;
        transition: background-color 0.5s ease;
        &::after{
            content: '';
            position: absolute;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            background-color: $background-color;
            box-shadow: 0 0 2px 2px #888;
            transform: translate(-24px, -50%);
            transition: 0.5s ease;
        }
    }
    .nav-hamburguer{
        display: none;
        margin-right: 32px;
        position: relative;
        background-color: transparent;
        border: none;
        border-top: 2px solid #FFF;
        border-bottom: 2px solid #FFF;
        height: 16px;
        width: 16px;
        transition: border 0.5s;

        &::before, &::after{
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            top: 50%;
            background-color: white;
            transform: translate(-50%, -50%);
            transition: 0.5s;
        }

        &:hover{
            transform: scale(1.1);
        }
        &.open{
            border: none;

            &::before{
                background-color: red;
                transform: translate(-50%, -50%) rotateZ(45deg);

            }
            &::after{
                background-color: red;
                transform: translate(-50%, -50%) rotateZ(-45deg);
            }
        }
    }

    .nav-mobile{
        display: none;
        
    }
    
}

.section-1{
    position: relative;
    z-index: 1;
    padding-top: 32px;
    margin: auto;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $blue;

        .content{
        display: flex;
        flex-direction: column;
        max-width: 40vw;
        align-items: center;
        color: $text-color;
        gap: 16px;
        font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;

        h2{
            text-align: center;
            font-size: 48px;
        }
        p{
            font-size: 20px;
            text-align: justify;
        }
    }

    &::after{
        content: '';
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 240px;
        border-radius: 50%;
        top: 100%;
        background-color: $blue;
        transform: translateY(-50%);
    }
}



.navbar.light{
    // background-color: rgba($color: $background-color, $alpha: 0.8);
    color: $text-color;

    h1{
        color: $text-color;
    }
    .change-mode-button{
        background-color: $light-background-color;
    
        &::after{
            left: auto;
            transform: translate(0px, -50%);
            background-color: $light-background-color;
        }
    }
}

.homepage{
    padding-bottom: 32px;
    transition: background-color 1s ease;
    background-color: #23252C;
  }
  
  .homepage.light{
  
    background-color: #DDD;
}

main{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    section{
        z-index: 1;
        position: relative;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap:32px;
        align-items: center;
    }
}


.projects-section{
    

    .projects{
        width: 90vw;
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 32px;
        
    }
}

@media only screen and (max-width: 961px){
    .section-1{
        flex-direction: column;
        gap: 32px;

        .content{
            max-width: 70vw;
        }
    }
}

@media only screen and (max-width: 641px){
    .navbar{
        position: fixed;
        .change-mode-button{
            margin-right: 0;
        }
        .nav-hamburguer{
            display: block;
        }
        nav.nav-desktop{
            display: none;
        }
        nav.nav-mobile{
            display: flex;
            flex-direction: column;
            padding: 16px 0;
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
            background-color: rgba($color: $blue, $alpha: 0.9);
            transform: translateX(100%);
            transition: 1s;

            &.open{
                transform: translateX(0);
            }
        }
    }
    .section-1{
        padding-top: 64px;
    }
}