@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  background: #23252C;
}

.App{
  padding-bottom: 32px;
  background-color: #23252C;
}

.App.light{

  background-color: #DDD;
}